/*background colour for whole page*/
body {
    background-color: rgb(85, 142, 85);
    max-width: 100%;
}
/*Styling for header using google font*/
header {
    background-color: ivory;
    padding: 20px;
    font-family: 'Amatic SC', cursive;
    color: forestgreen;
    font-size: 48px;
}
/*styling for nav bar elements and chnages during hover, click*/
.active a {
    background: rgb(8, 59, 8);
    color: white;}

.nav-pills li.active a:hover {
    color: #fff;
    background-color:  rgb(8, 59, 8);
}

.nav a {
    color: forestgreen;
}
/*styling for all text inside containers- applies to all pages*/
.container {
    font-family: 'Amatic SC', cursive;
    color: ivory;
    text-align: justify;
    padding: 10%;
    font-size: medium;
}
/* tect colour changed to match theme*/
.thumbnail .caption {
    padding: 9px;
    color: forestgreen;
}

.form-group {
    box-sizing: content-box;
}
